<p class="text-center text-muted">Team project by:
  <a href="https://github.com/Tim3tang">Tim Tang</a>,
  <a href="https://github.com/ercekal">Erce Kalabalikoglu</a>,
  <a href="https://github.com/MrJons">Jonathan Shad</a>,
  <a href="https://github.com/peter-miklos">Peter Miklos</a> and
  <a href="https://github.com/johnnydee8">Johnny Dworzynski</a>
</p>
